@import './_toggle-normal';
@import './toggle-transparent';
@import './toggle-checkcross';
@import './toggle-gravity';
@import './toggle-pancake-stack';
@import './toggle-dog-rollover';

:root {
    --tuna: #2e394d;
    --dark: #222;
    --blue: #87aade;
    --magenta: #c487de;
    --pink: #de8797;
    --light-coral: #de8787;
    --rosy-pink: #ec788d;
    --red: #af4c4c;
    --medium-red: #c34a4a;
    --green-beige: #decf87;
    --dark-yellow: #e4ac04;
    --golden-yellow: #f9bb00;
    --light-gold: #fbdb60;
    --brandy: #dec387;
    --orange: #fbbe7c;
    --reddish-orange: #e27c31;
    --carrot-orange: #ef8927;
    --brownish-orange: #d67823;
    --green: #c5de87;
    --frog-green: #88cf8f;
    --yellow-green: #8BC34A;
    --medium-green: #4caf50;
    --cyan: #87ded2;
    --white: #fff;
}

body {
    background: var(--tuna);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1023px){
        display: block;
    }
}

* {
    box-sizing: border-box;

    &::before, &::after {
        content: '';
        position: absolute;
    }
}

input {
    height: 40px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.toggle-wrapper {
    flex: 1 1 calc(100% / 3);
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &:nth-child(1){
        background: var(--brandy);
    }

    &:nth-child(2){
        background: var(--pink);
    }

    &:nth-child(3) {
        background: var(--blue);
    }

    &:nth-child(4) {
        background: var(--green);
    }

    &:nth-child(5){
        background: var(--cyan);
    }

    &:nth-child(6){
        background: var(--magenta);
    }

    &:nth-child(7){
        background: var(--light-coral);
    }

    &:nth-child(8){
        background: var(--green-beige);
    }
}

