.toggle {
  position: relative;
  display: inline-block;
}

label.toggle-item {
  width: 7em;
  background: var(--tuna);
  height: 3em;
  display: inline-block;
  border-radius: 50px;
  margin: 40px;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform-origin: 20% center;
          transform-origin: 20% center;
  cursor: pointer;
}

label.toggle-item::before {
  display: block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 2.3em;
  height: 2.3em;
  top: .25em;
  left: .25em;
  border-radius: 2em;
  border: 2px solid var(--frog-green);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.normal label {
  background: var(--red);
  border: 0.5px solid rgba(117, 117, 117, 0.31);
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0 -3px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0 -3px 4px rgba(0, 0, 0, 0.15);
}

.normal label::before {
  border: none;
  width: 2.5em;
  height: 2.5em;
  -webkit-box-shadow: inset 0.5px -1px 1px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0.5px -1px 1px rgba(0, 0, 0, 0.35);
  background: var(--white);
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.normal label::after {
  background: transparent;
  height: calc(100% +8px);
  border-radius: 30px;
  top: -5px;
  width: calc(100% + 8px);
  left: -4px;
  z-index: 0;
  -webkit-box-shadow: inset 0px 2px 4px -2px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(151, 151, 151, 0.2);
          box-shadow: inset 0px 2px 4px -2px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(151, 151, 151, 0.2);
}

#normal:checked + label {
  background: var(--medium-green);
}

#normal:checked + label::before {
  left: 67px;
}

.transparent label {
  background: transparent;
  border: 3px solid var(--white);
  height: 3.35em;
}

.transparent label::before {
  border: 3px solid var(--white);
  width: 2em;
  height: 2em;
  top: .3em;
  left: .3em;
  background: var(--white);
}

#transparent:checked + label::before {
  -webkit-transform: translateX(59px);
          transform: translateX(59px);
}

.checkcross label:before {
  content: none;
}

.checkcross .check {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  background: var(--yellow-green);
  -webkit-transition: .4s ease;
  transition: .4s ease;
  top: 4.5px;
  left: 4.5px;
}

.checkcross .check::before, .checkcross .check::after {
  height: 4px;
  border-radius: 10px;
  background: var(--white);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.checkcross .check::before {
  width: 25px;
  -webkit-transform: rotate(-45deg) translate(-6px, 20px);
          transform: rotate(-45deg) translate(-6px, 20px);
}

.checkcross .check::after {
  width: 10px;
  -webkit-transform: rotate(45deg) translate(20px, 11px);
          transform: rotate(45deg) translate(20px, 11px);
}

#checkcross:checked + label .check {
  left: 68px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background: var(--medium-red);
}

#checkcross:checked + label .check::before {
  width: 27px;
  -webkit-transform: rotate(-45deg) translate(-8px, 18px);
          transform: rotate(-45deg) translate(-8px, 18px);
}

#checkcross:checked + label .check::after {
  width: 27px;
  -webkit-transform: rotate(45deg) translate(18px, 8px);
          transform: rotate(45deg) translate(18px, 8px);
}

#gravity:checked + label {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#gravity:checked + label::before {
  -webkit-transform: translateX(67px);
          transform: translateX(67px);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition: 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.2s;
  transition: 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.2s;
}

.pancake-stack label:before {
  content: none;
}

.pancake-stack .pancakes {
  -webkit-transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pancake-stack .pancake {
  background: var(--reddish-orange);
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  top: 2px;
  left: 4px;
  -webkit-box-shadow: 0 2px 0 2px var(--orange);
          box-shadow: 0 2px 0 2px var(--orange);
}

.pancake-stack .pancake:nth-child(2) {
  left: 0;
  top: -3px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s ease .2s;
  transition: .2s ease .2s;
}

.pancake-stack .pancake:nth-child(3) {
  top: -8px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s ease .2s;
  transition: .2s ease .2s;
}

.pancake-stack .pancake:nth-child(3)::before, .pancake-stack .pancake:nth-child(3)::after {
  background: var(--carrot-orange);
  border-radius: 20px;
  width: 50%;
  height: 20%;
}

.pancake-stack .pancake:nth-child(3)::before {
  top: 20px;
  left: 5px;
}

.pancake-stack .pancake:nth-child(3)::after {
  top: 22px;
  left: 5px;
}

.pancake-stack .butter {
  width: 12px;
  height: 11px;
  background: var(--light-gold);
  top: 6px;
  left: 20px;
  position: absolute;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 1px var(--brownish-orange);
          box-shadow: 0 1px 0 1px var(--brownish-orange);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#pancake:checked + label .pancakes {
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
}

#pancake:checked + label .pancake:nth-child(2) {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#pancake:checked + label .pancake:nth-child(3) {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#pancake:checked + label .butter {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.dog-rollover label::before {
  content: none;
}

.dog-rollover label .dog {
  display: inline-block;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  top: .25em;
  left: .2em;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.dog-rollover label .eyes {
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--dark);
  border-radius: 50%;
  -webkit-transform: translate(8px, 14px);
          transform: translate(8px, 14px);
  -webkit-box-shadow: 16px 0 0 var(--dark), 22px -4px 0 12px var(--dark-yellow);
          box-shadow: 16px 0 0 var(--dark), 22px -4px 0 12px var(--dark-yellow);
}

.dog-rollover label .ear {
  width: 18px;
  height: 20px;
  position: absolute;
  left: -4px;
  bottom: 80%;
  background: var(--golden-yellow);
  margin-bottom: -5px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  -webkit-box-shadow: inset 4px 0 0 0px var(--white), inset -4px 0 0 0px var(--white);
          box-shadow: inset 4px 0 0 0px var(--white), inset -4px 0 0 0px var(--white);
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.dog-rollover label .ear.right {
  -webkit-transform: rotate(60deg) scaleX(-1);
          transform: rotate(60deg) scaleX(-1);
  left: auto;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  right: 0;
}

.dog-rollover label .face {
  overflow: hidden;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  background: var(--white);
  z-index: 8;
}

.dog-rollover label .mouth {
  position: absolute;
  background: var(--dark);
  width: 14px;
  height: 7px;
  left: 50%;
  margin-left: -7px;
  bottom: 12px;
  border-radius: 2px 2px 20px 20px;
  bottom: 8px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

.dog-rollover label .mouth::before {
  width: 8px;
  height: 8px;
  background: var(--rosy-pink);
  border-radius: 0 0 50% 50%;
  -webkit-transform: translate(3px, 5px);
          transform: translate(3px, 5px);
}

.dog-rollover label::before {
  border-color: var(--white);
  background: var(--white);
}

#doggo:checked ~ .cup {
  -webkit-animation: .2s linear cup 1s forwards;
          animation: .2s linear cup 1s forwards;
}

#doggo:checked + label .dog {
  left: 68px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#doggo:checked + label .mouth {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

#doggo:checked + label .ear.right {
  -webkit-transform: scaleX(-1) rotate(-35deg);
          transform: scaleX(-1) rotate(-35deg);
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

:root {
  --tuna: #2e394d;
  --dark: #222;
  --blue: #87aade;
  --magenta: #c487de;
  --pink: #de8797;
  --light-coral: #de8787;
  --rosy-pink: #ec788d;
  --red: #af4c4c;
  --medium-red: #c34a4a;
  --green-beige: #decf87;
  --dark-yellow: #e4ac04;
  --golden-yellow: #f9bb00;
  --light-gold: #fbdb60;
  --brandy: #dec387;
  --orange: #fbbe7c;
  --reddish-orange: #e27c31;
  --carrot-orange: #ef8927;
  --brownish-orange: #d67823;
  --green: #c5de87;
  --frog-green: #88cf8f;
  --yellow-green: #8BC34A;
  --medium-green: #4caf50;
  --cyan: #87ded2;
  --white: #fff;
}

body {
  background: var(--tuna);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  content: '';
  position: absolute;
}

input {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.toggle-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% / 3);
          flex: 1 1 calc(100% / 3);
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
}

.toggle-wrapper:nth-child(1) {
  background: var(--brandy);
}

.toggle-wrapper:nth-child(2) {
  background: var(--pink);
}

.toggle-wrapper:nth-child(3) {
  background: var(--blue);
}

.toggle-wrapper:nth-child(4) {
  background: var(--green);
}

.toggle-wrapper:nth-child(5) {
  background: var(--cyan);
}

.toggle-wrapper:nth-child(6) {
  background: var(--magenta);
}

.toggle-wrapper:nth-child(7) {
  background: var(--light-coral);
}

.toggle-wrapper:nth-child(8) {
  background: var(--green-beige);
}
/*# sourceMappingURL=style.css.map */