:root {
    --tuna: #2e394d;
    --brandy: #dec387;
    --pink: #de8797;
    --blue: #87aade;
    --green: #c5de87;
    --cyan: #87ded2;
    --magenta: #c487de;
    --light-coral: #de8787;
    --green-beige: #decf87;
    --frog-green: #88cf8f;
    --red: #af4c4c;
    --white: #fff;
    --medium-green: #4caf50;
}

body {
    background: var(--tuna);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;

    &::before, &::after {
        content: '';
        position: absolute;
    }
}

input {
    height: 40px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.toggle-wrapper {
    flex: 1 1 calc(100% / 3);
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &:nth-child(1){
        background: var(--brandy);
    }

    &:nth-child(2){
        background: var(--pink);
    }

    &:nth-child(3) {
        background: var(--blue);
    }

    &:nth-child(4) {
        background: var(--green);
    }

    &:nth-child(5){
        background: var(--cyan);
    }

    &:nth-child(6){
        background: var(--magenta);
    }

    &:nth-child(7){
        background: var(--light-coral);
    }

    &:nth-child(8){
        background: var(--green-beige);
    }
}

.toggle {
    position: relative;
    display: inline-block;
}

label.toggle-item {
    width: 7em;
    background: var(--tuna);
    height: 3em;
    display: inline-block;
    border-radius: 50px;
    margin: 40px;
    position: relative;
    transition: all .3s ease;
    transform-origin: 20% center;
    cursor: pointer;

    &::before {
        display: block;
        transition: all .2s ease;
        width: 2.3em;
        height: 2.3em;
        top: .25em;
        left: .25em;
        border-radius: 2em;
        border: 2px solid var(--frog-green);
        transition: .3s ease;
    }
}

.normal {
    label {
        background: var(--red);
        border: .5px solid rgba(117, 117, 117, 0.31);
        box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.2), 0 -3px 4px rgba(0,0,0,0.15);

        &::before {
            border: none;
            width: 2.5em;
            height: 2.5em;
            box-shadow: inset 0.5px -1px 1px rgba(0, 0, 0, 0.35);
            background: var(--white);
            transform: rotate(-25deg);
        }

        &::after {
            background: transparent;
            height: calc(100% +8px);
            border-radius: 30px;
            top: -5px;
            width: calc(100% + 8px);
            left: -4px;
            z-index: 0;
            box-shadow: inset 0px 2px 4px -2px rgba(0,0,0,0.2), 0px 1px 2px 0px rgba(151, 151, 151, 0.2);
        }
    }
}

#normal:checked + label {
    background: var(--medium-green);

    &::before {
        left: 67px;
    }
}

.transparent {
    label {
        background: transparent;
        border: 3px solid var(--white);
        height: 3.35em;
        &::before {
            border: 3px solid var(--white);
            width: 2em;
            height: 2em;
            top: .3em;
            left: .3em;
            background: var(--white);
        }
    }
}

#transparent:checked + label {
    &::before {
        transform: translateX(59px);
    }
}